.body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 100vh;
    background: #ffbe76;
    justify-content: space-around;
    align-items: center;
}
.cards {
    perspective: 1000px;
    transform-style: preserve-3d;
}
.Michael {
    background-color: #fff;
}
.Lindsay {
    background-color: #fff;
}
.Tobias {
    background-color: #fff;
}
.Byron {
    background-color: #fff;
}
.George {
    background-color: #fff;
}
.Rachel {
    background-color: #fff;
}
.Janet {
    background-color: #fff;
}
.Emma {
    background-color: #fff;
}
.Eve {
    background-color: #fff;
}
.Charles {
    background-color: #fff;
}
.Tracey {
    background-color: #fff;
}